.h1 {
    font-weight: bold;
    font-size: 48px;
    color: white;
    margin-bottom: 10px;
}

.prev {
    position: absolute;
    left: 20px;
    top: 40px;
}

.link {
    padding: 5px 20px;
    width: 80%;
    margin: 3px auto;
    gap: 15px;
    font-size: 20px;
}