.h1, .medal, .count {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
 
.h1 {
    font-size: 48px;
    margin-top: 20px;
}

.prev {
    position: absolute;
    left: 20px;
    top: 40px;
}

.medal {
    font-size: 25px;
    margin-bottom: 0;
}

.count {
    margin-top: 0;
    font-size: 70px;
}