
@font-face {
    font-family: 'Poppins';
    src: url(../media/05-fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url(../media/05-fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url(../media/05-fonts/Poppins/Poppins-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(../media/05-fonts/Poppins/Poppins-Thin.ttf);
    font-weight: 200;
    font-style:normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../media/05-fonts/Poppins/Poppins-Thin.ttf);
    font-weight: 200;
    font-style:normal;
} 

@font-face {
    font-family: 'Paris2024';
    src: url(../media/05-fonts/Paris2024/Paris2024-Variable.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paris2024-bold';
    src: url(../media/05-fonts/Paris2024/Paris2024-Variable.ttf);
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
  
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Paris2024', sans-serif;
}

.title-grad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.title-grad h2 {
    font-family: 'Paris2024-bold', sans-serif !important;
    font-size: 72px;
    font-weight: 900;
    background: linear-gradient(to right, #ff4b4b, #7f0ba5, #003295);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.title-grad img {
    padding-right: 200px;
    position: absolute;
    bottom: -13px;
}


.right-line {
    padding-left: 200px;
}