header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 40px;
}

header img {
    height: 60px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header ul li {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    padding-right: 50px;
    padding-left: 30px;
}

header ul li:hover {
    color: #ed2939;
    transition: .2s color ease-in-out;
    cursor: pointer;
}

header ul li:first-child {
    padding-left: 50px;
}

header ul li::after,
header ul li:first-child::before {
    content: '';
    position: absolute;
    top: -40px;
    bottom: -40px;
    width: 3px;
    background-color: rgb(121, 147, 231);
    z-index: -1;
    right: 0;
    transform: rotate(20deg);


}

header ul li:first-child::before {
    left: 0;
}