:root {
    --blue-primary: #002395;
    --red-primary: #ed2939;
    --light-blue: #d5e2f0;   
    --dark-gray: #333333;
    --medium-gray: #474747;
    --light-gray: #888888;   
    --light-gray-transparent: #888888a9;   
}


.main {
    background-image: url(../media/03-images/hero-lg.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    position: relative;
    height: 45rem;
}

.main::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff;
    clip-path: polygon(0 100%, 100% 80%, 100% 100%, 0 100%);
    z-index: 1;
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 25px;
    padding-top: 25px;
    position: relative;
    z-index: 2;
}

.content-main h1 {
    color: white;
    font-size: 82px;
}

.content-main h3 {
    color: var(--light-blue);
    font-size: 54px;
}

.content-main img {
    margin-top: 30px;
}

.mascot {
    position: absolute;
    left: 80px;
    bottom: 10px;
}




/* COUNT DOWN PART */


.count-down {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.count-down p {
    margin-top: 70px;
    font-size: 28px;
}

.count-down span {
    color: var(--light-gray);
    margin-bottom: 70px;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    gap: 10px;
}

.clock h3:not(:last-child)::after {
    content: ":";
    color: var(--light-gray-transparent);
    margin-left: 10px;
}

.logos-countdown {
    position: absolute;
    right: 40px;
    bottom: -40px;
}


.news {
    background-color: #d5e2f0;
    height: 60rem;
    position: relative;
}

.news::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 0, 0 15%, 0 0, 100% 0);
    z-index: 1;
}

.news::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(0 100%, 100% 60%, 100% 100%, 0 100%);
    z-index: 1;
}
